{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
<div class = "row">
        <div class= "col-md-6 mx-auto">
    <h1>{{ voiture.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
           <img src = {{ voiture.imageName }} width="250" height="200">
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ voiture.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ voiture.couleur }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ voiture.annee }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.prix }}</td>
           
            </tr>
            <tr>
            <p> By {{ voiture.user.nom ~ " " ~ voiture.user.prenom}}</p>
            </tr>
        </tbody>
    </table>
    <p>
    <a href="{{ path('app_voiture_editer', {'id': voiture.id}) }}" class="btn btn-primary">Editer</a>
</p>
<p>
    <a href="{{ path('app_voiture_index') }}">back to list</a>
</p>

<p>
    {{ include('voiture/_supprimer_form.html.twig') }}
    </p>
    
    </div>
    </div>
{% endblock %}
