{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
<div class = "row">
        <div class= "col-md-3 mx-auto">
    <h1>{{ voiture.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
         <img style="max-width: 250px;" src={{ vich_uploader_asset(voiture, 'imageFile') }}>
                <th>Id</th>

                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ voiture.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ voiture.couleur }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ voiture.annee }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.prix }}</td>
           
            </tr>
            <tr>
            <p> By {{ voiture.user.nom ~ " " ~ voiture.user.prenom}}</p>
            </tr>
        </tbody>
    </table>
    <p>
    <a href="{{ path('app_voiture_index') }}">back to list</a>
</p>
	{% if app.user %}
				{% if app.user.nom is same as (voiture.user.nom) %}
    <p>
    <a href="{{ path('app_voiture_editer', {'id': voiture.id}) }}" class="btn btn-primary">Editer</a>
</p>


<p>
    {{ include('voiture/_supprimer_form.html.twig') }}
    </p>
   	{% endif %}	
{% endif %} 

    </div>
    </div>
{% endblock %}
