{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <h1>Voiture index</h1>

    <table class="table">
        <thead>
            <tr>
               <th>Images</th>
                <th>Nom</th>
{#              
                <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
       
            <tr>
                  <td><img src = {{ voiture.imageName }} width="250" height="200"></td> 
                <td><a href="{{ path('app_voiture_details', {'id': voiture.id}) }}">{{ voiture.nom }}
                  </a> <p>By {{ voiture.user.nom ~ " " ~ voiture.user.prenom}}</p></td>
{#              
                <td>
                    {# <a href="{{ path('app_voiture_details', {'id': voiture.id}) }}">Details</a> #}
                    {# <a href="{{ path('app_voiture_editer', {'id': voiture.id}) }}">Editer</a> #}
                {# </td>  #}
            </tr>
             
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_creer') }}" class="btn btn-success">Creer </a>
{% endblock %}
